
html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top: 40px;
	margin-bottom: 65px;
	background-color: black;
	background: url(../img/background.png) repeat;
	color: #aaa;
}

.navbar {
	background: linear-gradient(
		#222,
		black
	);

	a {
		color: white;
	}

	.navbar-toggle, .icon-bar {
		border: 1px solid white;
	}
}

.profile {
	padding: 10px;
	max-height: 120px;
}

.btn-contact {
	height: 54px;
	width: 100%;
	margin: 5px;
}

.inline {
	display: inline;
}

.footer {
	border-top: 3px solid #e7e7e7;
	background-color: #f8f8f8;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;

	li {
		vertical-align: top;
		margin-top: 13px;
	}
}
