$primary-color: #070;

@mixin bg-gradient($start, $end) {
	background: -webkit-linear-gradient($start, $end); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($start, $end); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($start, $end); /* For Firefox 3.6 to 15 */
	background: linear-gradient($start, $end); /* Standard syntax */
}

html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 65px;
	background-color: black;
	/*background: url(../img/background.png) repeat;*/
	background: url(../img/minnewaska.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

h1 {
	color: #fff;
	text-align: center;
}

a {
	color: white;
}

.navbar-fixed-top {
	background-color: #000;
}

.navbar-top {
	margin-top: 10px;
	margin-bottom: 0;
	@include bg-gradient(
		rgba(1,1,1,0.25),
		rgba(1,1,1,0.75)
	);
}

.navbar {
	a {
		color: #fff;
	}

	.icon-bar {
		border: 1px solid #fff;
	}

	.navbar-toggle:hover {
		background-color: #fff;
		.icon-bar {
			border-color: #000;
		}
	}

	li a:hover {
		background-color: rgba(1,1,1,0.5);
	}
}

.profile {
	padding: 10px;
	max-height: 120px;
}

.section {
	border: none;
	padding: 10px;
	margin: 20px 0;
	@include bg-gradient(
		rgba(1,1,1,0.4), 
		rgba(1,1,1,0.75)
	);
}

.thumbnail{
	background: none;
	.caption {
		color: #ddd;
		.lead {
			color: white;
		}
	}
}

.btn-contact {
	height: 54px;
	width: 100%;
	margin: 5px;
}

.inline {
	display: inline;
}

.footer {
	@include bg-gradient(
		rgba(1,1,1,0.9), 
		rgba(1,1,1,0.6)
	);
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;

	li {
		vertical-align: top;
		margin-top: 13px;
	}
}
