<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Thanks for taking the time to check out my website!
      </p>
      <p>
        <a href="https://www.linkedin.com/in/evanvandam/" target="_blank">
          <span class="icon">
              <i class="fa fa-linkedin-square"></i>
          </span>
          <small>Connect with me</small>
        </a>
        <span> | </span>
        <a href="http://github.com/evandam" target="_blank">
          <span class="icon">
              <i class="fa fa-github"></i>
          </span>
          <small>Check out my work</small>
        </a>
      </p>
    </div>
  </div>
</footer>
