html, body {
  height: 100%;
  background-color: #2A2A2A;
  color: #D5D5D5;
}

.title {
  color: #ECECEC;
}

.navbar {
  background-color: black;
}

.navbar-item, a.navbar-item:hover {
  color: #0082AF;
}

a.navbar-item:hover {
  background-color: #3A3A3A;
}

body > section {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
}

.profile {
  display: inline-block;
}

.profile img {
  border-radius: 50%;
  vertical-align: middle;
}
