html, body {
  height: 100%;
  background-color: #2A2A2A;
  color: #D5D5D5;
}

.title {
  color: white;
}

.navbar {
  background-color: black;
  box-shadow: 0 5px 5px #111;
}

.navbar-item, a.navbar-item:hover {
  color: #1EA59F;
}

a.navbar-item:hover {
  background-color: #3A3A3A;
}

body > section {
  height: 100%;
  width: 100%;
  /*border: 1px solid gray;*/
}

.profile {
  display: inline-block;
}

.profile img {
  border-radius: 50%;
  vertical-align: middle;
}
