/* line 8, ../sass/index.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 13, ../sass/index.scss */
body {
  margin-top: 50px;
  background-color: black;
  background: url(../img/minnewaska.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/* line 23, ../sass/index.scss */
h1 {
  color: #fff;
  text-align: center;
}

/* line 28, ../sass/index.scss */
a {
  color: white;
}

/* line 32, ../sass/index.scss */
.navbar-fixed-top {
  background-color: #000;
}

/* line 36, ../sass/index.scss */
.navbar-at-top {
  background: -webkit-linear-gradient(rgba(1, 1, 1, 0.25), rgba(1, 1, 1, 0.75));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(1, 1, 1, 0.25), rgba(1, 1, 1, 0.75));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(1, 1, 1, 0.25), rgba(1, 1, 1, 0.75));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(1, 1, 1, 0.25), rgba(1, 1, 1, 0.75));
  /* Standard syntax */
}

/* line 44, ../sass/index.scss */
.navbar a {
  color: #fff;
}
/* line 48, ../sass/index.scss */
.navbar .icon-bar {
  border: 1px solid #fff;
}
/* line 52, ../sass/index.scss */
.navbar .navbar-toggle:hover {
  background-color: #fff;
}
/* line 54, ../sass/index.scss */
.navbar .navbar-toggle:hover .icon-bar {
  border-color: #000;
}
/* line 59, ../sass/index.scss */
.navbar li a:hover {
  background-color: rgba(1, 1, 1, 0.5);
}

/* line 64, ../sass/index.scss */
.permalink {
  position: relative;
  top: -70px;
  display: block;
}

/* line 70, ../sass/index.scss */
.profile {
  padding: 10px;
  max-height: 120px;
}

/* line 75, ../sass/index.scss */
.section {
  border: none;
  padding: 10px;
  margin: 20px 0;
  background: -webkit-linear-gradient(rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.75));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.75));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.75));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.75));
  /* Standard syntax */
}

/* line 85, ../sass/index.scss */
.thumbnail {
  background: none;
}
/* line 87, ../sass/index.scss */
.thumbnail .caption {
  color: #ddd;
}
/* line 89, ../sass/index.scss */
.thumbnail .caption .lead {
  color: white;
}

/* line 95, ../sass/index.scss */
.btn-contact {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 100, ../sass/index.scss */
.inline {
  display: inline;
}

/* line 104, ../sass/index.scss */
.footer {
  background: -webkit-linear-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6));
  /* Standard syntax */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
/* line 115, ../sass/index.scss */
.footer li {
  vertical-align: top;
  margin-top: 13px;
}
