<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Evan Van Dam</strong>
    </a>
    <div class="navbar-burger" data-target="my-navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="my-navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"  href="/blog">My Blog</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="http://github.com/evandam" target="_blank">
        <span class="icon">
            <i class="fa fa-github"></i>
        </span>
        <small class="is-hidden-desktop">Check out my GitHub page</small>
      </a>
      <a class="navbar-item" href="https://www.linkedin.com/in/evanvandam/" target="_blank">
        <span class="icon">
            <i class="fa fa-linkedin-square"></i>
        </span>
        <small class="is-hidden-desktop">Connect with me on LinkedIn</small>
      </a>
    </div>
  </div>
</nav>
