{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    {% include 'navbar.html' %}
    <section class="section">
      <div class="container">
        <div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </section>
    {% include 'footer.html' %}
  </body>
  <script src="/static/js/main.js"></script>
</html>
