<div class="text-center">
	<img src="img/profile.jpg" class="img-responsive img-circle profile inline">
</div>
<p class="lead">
	I graduated from <a href="http://www.marist.edu/"><strong>Marist College</strong></a> in 2014, 
	majoring in <strong>Computer Science</strong>
	with a concentration in <strong>Game Design and Programming</strong> 
	and a minor in <strong>Information Technology</strong>. 
</p>
<p>
	I have a passion for technology and programming, and also enjoy playing guitar and skiing.
</p>

<dl class="dl-horizontal">
	<dt><h2>Skills</h2></dt><dd></dd>
	<dt>Python</dt><dd>Django, Flask</dd>
	<dt>Java</dt><dd>Android, JSP, Swing</dd>
	<dt>C++</dt><dd>Object-Oriented Programming</dd>
	<dt>HTML5/JavaScript/CSS</dt><dd>Bootstrap, jQuery, Knockout.js, SASS</dd>
	<dt>Excel</dt><dd>PowerPivot, MSBI and Data Analytics</dd>
</dl>
